@import '../../../../common-styles/variables.scss';

article:nth-child(even) {
  background-color: $silverColor;
}

@media screen and (min-width: 1200px) {
  .news-details {
    width: calc(85% - 10px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 780px) {
  .news-details {
    width: calc(85% - 10px);
    margin: 0 auto;
    flex-direction: column;
  }
}

.news-story-item-wrapper {
  color: $blackColor;
  font-size: 14px;
  padding: 5px 0 5px 20px;
  font-family: $fontFamily;
  color: $blackColor;
  font-size: 11px;
  word-break: break-all;

  .news-story-line-item {
    display: flex;



    .votearrow {
      width: 10px;
      height: 10px;
      margin: 3px 15px 6px;
      background-repeat: no-repeat;
      background-image: url('data:image/gif;base64,R0lGODlhCgAKALMJANPT06enp/b29r+/v52dnfn5+bq6usLCwpqamv///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAkALAAAAAAKAAoAAAQcMMlJq712GIzQDV1QFV0nUETZTYDaAdIhz3ISAQA7');
    }
    .comment-count {
      width: 80px;
      padding-right: 10px;
    }
    .vote-count {
      width: 60px;
    }

    .news-details{
      display: flex;
      padding: 0px 7px 0px 40px;

      .news-title {
        font-size: 13px;
        font-weight: bold;
      }
      .nav-url-link {
        padding: 2px 10px 0px 0px;
        a {
          color: $grayColor;
        }
      }
      .author-title {
        color:$blackColor;
        padding: 2px 5px 0px 0px;
      }
      .elapsed-time{
        padding: 2px 5px 0px 0px;
        color:$grayColor;
      }

      .hide-link {
        padding: 2px 0px 0px 0px;
        cursor: pointer;
      }
    }

  }
}
